---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Content from '../../sitecontent/fr/bread-making.md';
import content from '../../sitecontent/fr/bread-making-meta.json'; 
---

<BaseLayout lang="fr" title={content.BreadMakingTitle}>
  <main class="main--content">
    <div class="faire-son-pain">
      <Content />
    </div>
  </main>
</BaseLayout>
