---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Content from '../../sitecontent/fr/mission.md';
import meta from '../../sitecontent/fr/mission-meta.json';
---

<BaseLayout lang="fr" title={meta.title} description={meta.description}>
  <main class="main--content">
     <h1 class="sr-only">Notre mission</h1>
    <Content />
  </main>
</BaseLayout>
