---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Content from '../../sitecontent/en/bread-making.md';
import content from '../../sitecontent/en/bread-making-meta.json'; 
---

<BaseLayout lang="en" title={content.BreadMakingTitle} description={content.description}>
  <main class="main--content">
     <h1 class="sr-only">Bread-Making</h1>
    <div class="faire-son-pain">
      <Content />
    </div>
  </main>
</BaseLayout>
