---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Content from '../../sitecontent/en/mission.md';
import meta from '../../sitecontent/en/mission-meta.json';
---

<BaseLayout lang="en" title={meta.title}>
  <main class="main--content">
     <h1 class="sr-only">Our Mission</h1>
    <Content />
  </main>
</BaseLayout>

