---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Content from '../../content/en/mission.md';
import meta from '../../content/en/mission-meta.json';
---

<BaseLayout lang="en" title={meta.title}>
  <main class="main--content">
    <Content />
  </main>
</BaseLayout>

