<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="refresh" content={`0; url=${import.meta.env.BASE_URL}fr/`} />
  </head>
  <body>
    <!-- <p>Redirecting to <a href={`${import.meta.env.BASE_URL}fr/`}>FR homepage</a>…</p> -->
  </body>
</html>

