
---
import BaseLayout from '../layouts/BaseLayout.astro';
import content from '../content/home.json';
---

<BaseLayout>

  <h1>{content.heading}</h1>

  <!-- <img src={`/images/${content.image}`} alt={content.imageAlt} /> -->
</BaseLayout>
