
---
import BaseLayout from '../layouts/BaseLayout.astro';
import content from '../content/home.json';
---

<BaseLayout title="Test - Home">
  <h1>{content.title}</h1>

  <!-- <img src={`/images/${content.image}`} alt={content.imageAlt} /> -->
</BaseLayout>
