---
import content from '../content/footer.json';
---

<footer>

     <div class="footer-logo">
      <img src="/windmill.gif" alt="Animated logo" class="footer-gif" />
    </div>

  <div class="footer-container">
    <div class="footer-item">
  <a href="/contact">Heures &#x2197;</a>
    </div>
    <div class="footer-item">
  <a href="/contact">Adresse &#x2197;</a>
    </div>
  <div class="footer-item">
    <a href="tel:+5142770232">Téléphone</a>
  </div>
  <div class="footer-item">
    <a href="mailto:capucine_et_tournesol@hotmail.com">E-mail</a>
  </div>
  <div class="footer-item">
    <a href="https://www.facebook.com/pages/Boulangerie-Capucine-et-Tournesol/184532918320389" 
   target="_blank" 
   rel="noopener noreferrer">Facebook</a>
  </div>
  </div>
   <div class="footer-copyright" >Site design by: <span><a style="color: inherit;" href="https://www.marknicolasnicol.com" 
   target="_blank" 
   rel="noopener noreferrer">MNN</a></span></div>
  <div class="footer-copyright">&copy; <span id="year"></span> Capucine et Tournesol</div>
 

<!-- 
  <div class="footer">
    <div class="footer-logo">
      <img src="/windmill.gif" alt="Animated logo" class="footer-gif" />
    </div>

    <div class="footer-info">
      <div>226 Rue Bernard Ouest, Montréal, QC</div>
      <div>{content.hours}</div>
      <div>{content.phone}</div>
      <div>
        <a class="email" href={`mailto:${content.email}`}>{content.emailLabel}</a>
      </div>
    </div>

    <div class="footer-social">
  <a href="https://www.facebook.com/pages/Boulangerie-Capucine-et-Tournesol/184532918320389" 
   target="_blank" 
   rel="noopener noreferrer">
  <img src="/facebook.png" alt="Facebook" class="social-icon" />
</a>
<div>&copy; <span id="year"></span> Capucine et Tournesol</div>

    </div>
  </div> -->



</footer>
