<header>
  <nav>
    <a href="/">Home</a>
    <a href="/mission">Our Mission</a>
    <a href="/products">Products</a>
    <a href="/insights">Info & Insights</a>
    <a href="/tips">Bread-Making Tips</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
